---
import { languages } from '../i18n/ui';
const { lang } = Astro.props;
---
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <title>Tokimura</title>
  </head>
  <body>
    <slot />
  </body>
</html>